{% extends 'base.html' %}
{% block title %}{{ title }} | NICAT SMS{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}
<section class="card form-wrapper wide">
    <p class="muted">Scheme: {{ scheme.name }}</p>
    <form method="post" class="form-grid two-col">
        {{ form.hidden_tag() }}
        <div>{{ form.name.label }}{{ form.name(class_='form-control') }}</div>
        <div>{{ form.max_marks.label }}{{ form.max_marks(class_='form-control') }}</div>
        <div>{{ form.position.label }}{{ form.position(class_='form-control') }}</div>
        <div class="span-2">{{ form.submit(class_='btn btn-primary') }}</div>
    </form>
</section>
{% endblock %}
